---
configure_dotfiles: false
configure_dock: true
dockitems_remove:
  - Launchpad
  - TV
  - Podcasts

dockitems_persist:
  - name: "Sublime Text"
    path: "/Applications/Sublime Text.app/"
    pos: 6
  - name: "Firefox"
    path: "/Applications/Sublime Text.app/"
    pos: 3


homebrew_taps:
  - homebrew/core
  - homebrew/cask
  - aws/tap
  - mongodb/brew

homebrew_installed_packages:
  - asdf
  - aws-sam-cli
  - awscli
  - elixir
  - git
  - go@1.16
  - gradle@6
  - gti
  - mongodb-community
  - mongodb-database-tools
  - python
  - redis
  - tomcat@9
  - yarn

homebrew_cask_apps:
  - alfred
  - cyberduck
  - docker
  - firefox
  - flycut
  - mountain-duck
  - sublime-text
  - transmit

post_provision_tasks:
  - tasks/config-devtools-asdf.yml
  - tasks/config-tomcat-ssl.yml
