---
- name: Generate keystore file
  command: "keytool -genkeypair -keyalg RSA -keystore ~/.keystore -validity 1000 -storetype pkcs12 -dname \"CN=localhost, OU=Fetch, O=Fetch, L=Madison, ST=Wisconsin, C=US\" -storepass password -keypass password"

- name: Generate cert
  expect:
    command: keytool -export -file ~/.keytool_cert.cer -keystore ~/.keystore
    responses:
      "Enter keystore password:": "password"

- name: Import cert
  command: "sudo keytool -importcert -alias localssl -keystore $JAVA_HOME/jre/lib/security/cacerts -storepass changeit -file ~/.keytool_cert.cer"
